[Unit]
Description=Your JAR Service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/bin/sh /usr/local/src/start_message.sh
ExecStop=/bin/sh /usr/local/src/stop_message.sh
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
