[Unit]
Description=Your JAR Service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/src/start_sai.sh
ExecStop=/bin/bash /usr/local/src/stop_sai.sh
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
